
<h2>Create Auction</h2>
<form method="post">
    <label>Title</label>
    <input name="Title"/>
    <br />
    <label>Description</label>
    <input name="Description"/>
    <br />
    <label>ActualAmount</label>
    <input name="ActualAmount"/>
    <br />
    <label>StartingTime</label>
    <input name="StartingTime"/>
    <br />
    <label>EndingTime</label>
    <input name="EndingTime"/>
    <br />
    <button>Save</button>
</form>