@model DealDouble.Web.ViewModels.CreateAuctionViewModel

<h2>Create Auction</h2>
<form id="createForm" method="post" action="Auction/Create/">

    <div class="form-group">
        <label for="Title1">Title</label>
        <input class="form-control" id="Title1" name="Title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="Category1">Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.ID">@category.Name</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label for="Description1">Description</label>
        <input class="form-control" id="Description1" name="Description" placeholder="Enter Description">
    </div>
    <div class="form-group">
        <label for="ActualAmount1">Actual Amount</label>
        <input class="form-control" id="ActualAmount1" name="ActualAmount" placeholder="Actual Amount">
    </div>
    <div class="form-group">
        <label for="StartingTime1">Starting Time</label>
        <input class="form-control" id="StartingTime1" name="StartingTime" placeholder="Starting Time">
    </div>
    <div class="form-group">
        <label for="EndingTime1">Ending Time</label>
        <input class="form-control" id="EndingTime1" name="EndingTime" placeholder="Ending Time">
    </div>
    <div class="form-group">
        <label for="EndingTime1">Select Pictures</label>
        <input class="form-control" id="auctionPictures" type="file" name="AuctionPictures" multiple>
        <div id="picturesArea"></div>
        <input type="hidden" name="AuctionPictures" id="picturesIDs" />
    </div>

    <button class="btn btn-info" type="button" id="savebutton">Save</button>
</form>

<script>
    $("#auctionPictures").change(function () {
        debugger;
        var pictures = this.files;
        var picData = new FormData();
        for (var i = 0; i < pictures.length; i++) {
            picData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: "@Url.Action("UploadPicture", "Shared")",
            type: "post",
            data: picData,
            datatype: "json",
            processData: false,
            contentType: false
        })
            .done(function (responses) {
                debugger;
               // var picIDs = '';
                for (var i = 0; i < responses.length; i++)
                {
                    var picResponse = responses[i];

                    debugger;

                    AttachNewImage(picResponse.pictureURL, picResponse.ID);

                    //var imghtml = "<img class='img-fluid' src=/Content/images/" + picResponse.pictureURL + " />"
                    

                    //$("#picturesArea").append(imghtml);
                   // picIDs = picIDs + "," + picResponse.ID;
                }
                //$("#picturesIDs").val(picIDs);
                
            });
    });
    function AttachNewImage(imageURL, imageID)
    {
        var $newimgHTML = $("#imageTemplate").clone();
        $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newimgHTML.find(".image").attr("data-id", imageID);
        

        $("#picturesArea").append($newimgHTML.html());
        RemoveImagesOnClick();

    }

   






    $("#savebutton").click(function () {
        debugger;
        var imageIDs = [];
        $("#picturesArea .image").each(function () {
            var imageID = $(this).attr("data-id");
            imageIDs.push(imageID);
        });

        $("#picturesIDs").val(imageIDs.join());

        $.ajax({
            url: "/Auction/Create/",
            method: "post",
            data: $("#createForm").serialize()

        })
            .done(function (response) {
                debugger;
                $("#listingArea").html(response);
            })
            .fail(function () {

            });
    });
</script>