@model DealDouble.Entities.Auction
<h2>Are you sure want to delete?</h2>
<form method="post">
    <input name="ID" value="@Model.ID" type="hidden"/>
    <button>Yes</button>
</form>
<form method="get" action="/Auction/Index/">
    <button>No</button>
</form>